body {
  background-color: #222;
  color: whitesmoke;
  padding: 80px 0;
}

@media (max-width: 450px) {
  body {
    padding: 50% 0;
  }
}

.color-board {
  padding: 8px 20%;
}

.color-card {
  background-color: grey;
  padding-bottom: 100%;
}

.green {
  background-color: #3edd4b;
}

.red {
  background-color: #dd4b3e;
}

.yellow {
  background-color: #ffea37;
}

.blue {
  background-color: #4b3edd;
}

.inactive {
  opacity: 0.3;
}