body {
  background-color: #222;
  color: whitesmoke;
}

.color-board {
  padding: 8px 20%;
}

.color-card {
  width: 50%;
  padding: 2%;
}

.square:after {
  background-color: grey;
  content: "";
  display: block;
  padding-bottom: 100%;
}