body {
  background-color: #222;
  color: whitesmoke;
}

.color-board {
  padding: 8px 20%;
}

.color-card {
  background-color: grey;
  padding-bottom: 100%;
}

/* .square:after {
  background-color: grey;
  content: "";
  display: block;
  padding-bottom: 100%;
} */

.colorGreen {
  background-color: #3edd4b;
}

.colorRed {
  background-color: #dd4b3e;
}

.colorYellow {
  background-color: #ffea37;
}

.colorBlue {
  background-color: #4b3edd;
}

.inactive {
  opacity: 0.3;
}